<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>公子小白</title>
    <link href="/stylesheets/error.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="blog-wrap">
    <% include nav.html%>
    <div class="right">
        <div class="right-top">
            <a class="oper-right" href="/"><img src="../images/home.png"></a>
        </div>
        <div class="right-content">
            <div class="error-area">
                <div class="error-wrap">
                    <img src="/images/error.jpg">
                    <span>出错啦</span>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>