<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/found.css">
</head>
<body>
<div class="not-found-area">
    <p class="not-found-page">"哎呀，您访问的页面不存在"</p>
    <div class="not-found-num">
        <div class="the-nums the-nums-41">404</div>
    </div>

    <p><span>您可能输错了网址，或该页面已被删除或不存在...</span><a href="/"><i class="time-left">5</i>秒后返回首页</a></p>

</div>
</body>
<script src="/javascripts/found.js"></script>
</html>