<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>公子小白</title>
    <link href="/stylesheets/retrieve.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="retrieve-wrapper">
    <p>
        <input type="email" placeholder="请输入注册时填写的邮箱..." class="retrieve-input">
        <input type="button" value="确定" class="retrieve-button">
        <span class="mail-sent">邮件已发送，请注意查收</span>
    </p>
</div>
<script src="/javascripts/require.js" defer async="true" data-main="/javascripts/retrieve.js"></script>
</body>
</html>